<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" [(ngModel)]="dadosUsuario.nome" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        autocomplete="email"
        [(ngModel)]="dadosUsuario.email"
      />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Telefone</label>
      <input
        type="text"
        class="form-control"
        autocomplete="tel-local"
        [(ngModel)]="dadosUsuario.telefone"
      />
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label>Sobre</label>
      <textarea class="form-control" rows="4">
                {{ dadosUsuario.sobre }}
                </textarea
      >
    </div>
  </div>
</div>
