<div class="table-responsive">
  <table class="table table-hover">
    <!-- <thead>
      <tr>
        <th scope="col">Usuário</th>
        <th scope="col">Status</th>
      </tr>
    </thead> -->
    <tbody>
      <tr *ngFor="let usuario of usuarios" (click)="selecionar(usuario)">
        <td>
          <div class="d-flex align-items-center">
            <img
              src="assets/imgs/avatar.png"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{ usuario?.nome }}</p>
              <p class="text-muted mb-0">{{ usuario?.email }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="text-muted mb-1">
            {{ usuario?.ativo ? "Ativo" : "Desativo" }}
          </p>
          <p class="text-muted mb-0">Pago</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
