a {
  cursor: pointer;
}

.nav-link {
  background-color: #fff;
}

.nav-link:hover {
  background-color: #ededed;
}

.nav-link.active {
  background-color: #0d6efd;
}

.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
  min-width: 250px;
}

.tab-content {
  flex: 1;
}

.form-group {
  margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  color: #333;
}
.nav-pills a.nav-link i {
  width: 20px;
}

.img-circle img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 5px solid #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
