main {
  background-color: #2c7aaf;
  padding: 8px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #ededed;
}

.btn-primary,
span {
  background-color: #ededed;
  color: #2c7aaf;
}

.container {
  min-height: calc(100vh - 64px);
  // background-color: #b1dddc;
  background-image: url("../../../assets/imgs/bg.jpg");
  background-size: 50% auto;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.btn-primary {
  width: 100%;
}

#mostrar-senha {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  opacity: 0.85;
}

#mostrar-senha:hover {
  opacity: 1;
}

input {
  background-color: #ededed;
}
