.col-6 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card,
.row {
  background-color: #fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.voltar {
  min-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 16px;
  left: 16px;
}
