@font-face {
  font-family: disney;
  src: url("../../../assets/fonts/waltograph/Waltograph/waltograph42.otf") format("truetype");
}

main {
  max-width: 800px;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1 {
  font-family: disney;
  font-size: xxx-large;
  margin-bottom: -16px;
}

h3,
h4 {
  color: #2c7aaf;
  text-align: center;
}

p {
  text-align: justify;
  padding: 8px;
}

#topo,
#informacoes,
#local {
  display: flex;
  flex-direction: row;
}

#arte {
  width: 300px;
  max-width: 100%;
}

.chamada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px 0 0 8px;
  margin: 8px;
}

.oq-preparamos{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px 0 0 8px;
  margin: 8px;
}

.organizadores {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 8px 8px 0;
  margin-right: 8px;
}

.chamada h1 {
  color: #2c7aaf;
}

.chamada label {
  font-weight: 300;
}

.chamada p {
  font-weight: 400;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.images-da-casa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 250px;
  overflow-x: scroll;
}

.organizadores ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 8px;
}

.organizadores-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
}

.descricao {
  min-height: 72px;
}

.descricao strong {
  color: #2c7aaf;
}

#local {
  text-align: center;
}

.sobre-local {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background-color: #90c6fa;
}

.sobre-local h4 {
  color: #fdfdfd;
}

.images-da-casa {
  min-width: 100%;
  max-width: 100%;
}

footer {
  text-align: center;
}

// media query
@media (max-width: 800px) {
  main {
    width: 100%;
  }

  #topo,
  #informacoes,
  #local {
    flex-direction: column;
  }

  .map-responsive {
    min-height: 50vh;
  }
}
