// Temporizador
.temporizador-container {
  color: #333;
  margin: 0 auto;
  text-align: center;
  max-width: 250px;
  height: 48px;
  border-radius: 8px;
  padding: 4px;
  position: absolute;
  bottom: 0;
  right: 24px;
  display: flex;
}

#temporizador * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  overflow: hidden;
}

#temporizador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: bisque;
}

#temporizador h1 {
  font-weight: normal;
  letter-spacing: 13px;
  text-transform: uppercase;
}

#temporizador li {
  display: inline-block;
  font-size: 9px;
  list-style-type: none;
  padding: 4px;
  text-transform: uppercase;
}

#temporizador li span {
  display: block;
  font-size: 12px;
}

#temporizador .headline {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 13px;
  text-transform: uppercase;
}

#local {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgb(204, 232, 204);
}

#recompensas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgb(240, 202, 249);
}

.mickey-gif {
  height: 50px;
}

.mickey-gif img {
  max-height: 100%;
  transform: scaleX(-1);
}
