main {
  max-width: 800px;
}

ul,
ol {
  list-style-type: none;
}

#topo,
#informacoes,
#local {
  display: flex;
  flex-direction: row;
}

#arte{
  width: 300px;
  max-width: 100%;
}

.chamada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.images-da-casa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  overflow-x: scroll;
}

.images-da-casa img {
  max-height: 100%;
}

// media query
@media (max-width: 800px) {
  main {
    width: 100%;
  }

  #topo,
  #informacoes,
  #local {
    flex-direction: column;
  }
}
