<form class="row">
  <div class="input-group mb-3">
    <input
      [type]="mostrarSenha ? 'text' : 'password'"
      class="form-control"
      placeholder="******"
      aria-label="Senha"
      aria-describedby="basic-addon1"
      autocomplete="new-password"
    />
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">
        <fa-icon
          [icon]="mostrarSenha ? olhoCortado : olho"
          (click)="mostrarSenha = !mostrarSenha"
        ></fa-icon>
      </span>
    </div>
  </div>
  <div class="input-group mb-3">
    <input
      [type]="mostrarReSenha ? 'text' : 'password'"
      class="form-control"
      placeholder="******"
      aria-label="Senha"
      aria-describedby="basic-addon1"
      autocomplete="current-password"
    />
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">
        <fa-icon
          [icon]="mostrarReSenha ? olhoCortado : olho"
          (click)="mostrarReSenha = !mostrarReSenha"
        ></fa-icon>
      </span>
    </div>
  </div>
</form>
