<nav style="height: 64px;">
  <img src="assets/imgs/castelo.png" height="48">
</nav>
<ng-container *ngIf="true; else desktop">
  <div
    [ngClass]="menuEnabled ? 'activated' : 'disabled'"
    (click)="clickHandler($event)"
  >
    <div class="icon">
      <fa-icon
        [icon]="menuEnabled ? closeIcon : menuIcon"
        (click)="menuHandler()"
      ></fa-icon>
    </div>
    <div class="itens-container">
      <div class="items" *ngIf="menuEnabled">
        <span *ngFor="let item of menu" (click)="itemHandler(item)">
          {{ ativo == item.path ? "> " : "" }}{{ item.name }}
        </span>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #desktop>
  <h1>Desktop</h1>
</ng-template>
