<!-- <div class="modal-all" *ngIf="usuarioSelecionado"> -->
<!-- <div class="modal-all" *ngIf="usuarioSelecionado"> -->
<div class="modal-all" *ngIf="usuarioSelecionado">
  <div class="modal modal-sm" style="display: flex">
    <section>
      <header>
        <label for="pin"><i class="icon-times"></i></label>
      </header>
      <article>
        <img
          src="assets/imgs/avatar.png"
          alt=""
          style="width: 45px; height: 45px"
          class="rounded-circle"
        />
        <br />
        <strong>{{usuarioSelecionado?.nome}}</strong>
        <div class="checkbox-group">
          <div>
            <input type="checkbox" [checked]="usuarioSelecionado?.ativo" />
            <label for="checkbox1">Ativo</label>
          </div>
          <div>
            <input type="checkbox" [checked]="usuarioSelecionado?.admin" />
            <label for="checkbox1">Admin</label>
          </div>
        </div>

        <br />
        <button class="btn-primary" (click)="limpar()">Salvar</button>
      </article>
    </section>
  </div>
</div>
