<table class="table">
  <thead>
    <tr>
      <th class="col-8">Nome</th>
      <th class="col-4">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of contribuintes"
      (click)="itemSelecionado = item"
      [ngClass]="{ 'linha-selecionada': itemSelecionado?.id === item.id }"
    >
      <td>{{ item.nome }}</td>
      <td>{{ item.totalPago }}</td>
    </tr>
  </tbody>
</table>

<div class="adicionar" (click)="modalNovaContribuicao = true">
  <fa-icon [icon]="faPlusCircle"></fa-icon>
</div>

<div class="editar" (click)="editarContribuicoes()">
  <fa-icon [icon]="faClipboardList"></fa-icon>
</div>

<div class="modal-all" *ngIf="modalContribuicoesUsuario">
  <input class="checker" type="checkbox" />
  <div class="modal modal-sm" style="display: flex">
    <section>
      <article>
        <h2>{{ itemSelecionado?.nome }}</h2>
        <table
          class="table"
          style="
            max-height: 150px;
            overflow-y: scroll;
            max-width: 100%;
            overflow-x: scroll;
          "
        >
          <thead>
            <tr>
              <th scope="col">Responsável</th>
              <th scope="col">Data</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let c of itemSelecionado?.contribuicoes"
              (click)="deletar(c)"
              [ngClass]="{ deletar: c.deletar }"
            >
              <th>{{ c?.responsavelId | labelResponsavel: contribuintes }}</th>
              <td>{{ c?.createdAt | date: "dd/MM/yyyy" }}</td>
              <td>{{ c?.valor }}</td>
            </tr>
          </tbody>
        </table>

        <div class="modal-btns">
          <div class="col-sm-6">
            <button
              class="btn-master btn100"
              [disabled]="contribuicoesParaDeletar?.length === 0"
              (click)="deletarContribuicoes()"
            >
              deletar
            </button>
          </div>
          <div class="col-sm-6">
            <button
              class="btn-master btn100"
              (click)="modalContribuicoesUsuario = false"
            >
              cancelar
            </button>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>

<div class="modal-all" *ngIf="modalNovaContribuicao">
  <input class="checker" type="checkbox" />
  <div class="modal modal-sm" style="display: flex">
    <section>
      <article>
        <h2>{{ itemSelecionado?.nome }}</h2>
        <br />
        Informe o valor da contribuição:
        <br />
        <input
          type="number"
          [(ngModel)]="valor"
          inputmode="numeric"
          class="input-valor"
        />
        <br />
        <br />
        <div class="modal-btns">
          <div class="col-sm-6">
            <button
              class="btn-master btn100"
              (click)="modalNovaContribuicao = false"
            >
              Cancelar
            </button>
          </div>
          <div class="col-sm-6">
            <button class="btn-master btn100" (click)="registrar()">
              Registrar
            </button>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
