<div class="table-responsive">
  <table class="table table-hover">
    <!-- <thead>
      <tr>
        <th scope="col">Usuário</th>
        <th scope="col">Status</th>
      </tr>
    </thead> -->
    <tbody>
      <tr *ngFor="let usuario of usuarios" (click)="selecionar(usuario)">
        <td>
          <div class="d-flex align-items-center">
            <div class="avatar-container">
              <img
                src="assets/imgs/avatar.png"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <!-- <div class="avatar-indicador"></div> -->
              <fa-icon
                [icon]="faCrown"
                class="indicador-1"
                *ngIf="usuario?.admin"
              ></fa-icon>
              <fa-icon
                [icon]="faCircle"
                [ngClass]="usuario?.ativo ? 'indicador-2 ativo' : 'indicador-2'"
              ></fa-icon>
            </div>
            <div class="ms-3">
              <p class="text-muted mb-0">{{ usuario?.nome }}</p>
            </div>
          </div>
        </td>
        <td>
          <!-- <p class="text-muted mb-1">
            {{ usuario?.ativo ? "Ativo" : "Desativo" }}
          </p> -->
          <p class="text-muted mb-0">Pago</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
